openai
google-generativeai
chromadb
gspread
soundfile
sounddevice
SpeechRecognition
pyaudio
cffi
python-dotenv
faster-whisper
aiosqlite
beautifulsoup4
keyring
keyrings.alt
google-auth-oauthlib
google-auth
google-api-python-client
numpy
scipy
